@use "../../abstracts/variables" as *;
@use "../../abstracts/functions" as fn;

.catalog__controls {
    display: flex;
    flex-direction: column;

    &-top,
    &-middle {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: fn.rem(20px) fn.rem(32px);
        border-bottom: 1px solid $border;
    }

    &-bottom {
        padding: fn.rem(16px) fn.rem(32px);
    }

    &-count {
        font-size: fn.rem(14px);
        font-weight: 500;
        line-height: fn.rem(16px);
        color: $text-subtitle;

        span {
            font-weight: 600;
            color: $text-body;
            padding: fn.rem(6px) fn.rem(12px);
            margin-left: fn.rem(8px);
            background-color: $neutral-300;
            border-radius: $radius-md;
        }
    }
}
