title = "Каталог"
url = "/catalog/:catalogCode?"

[catalogList]
catalogCode = "{{ :catalogCode }}"
==

<h1>{{ catalog.name }}</h1>

{% for record in items %}
    <article>
        <h2>{{ record.display_name }}</h2>
        {% for field in fields %}
            <p>{{ field.name }}: {{ record.data[field.code] }}</p>
        {% endfor %}
    </article>
{% else %}
    <p>Элементы отсутствуют.</p>
{% endfor %}

<ul>
    {% for category in categories %}
        <li><a href="/catalog/{{ catalog.code }}/{{ category.slug }}">{{ category.name }}</a></li>
    {% else %}
        <li>Категорий пока нет</li>
    {% endfor %}
</ul>
