@use "../abstracts/variables" as *;
@use "../abstracts/functions" as fn;

.logo {
    font-family: $fontLogo;
    font-size: fn.rem(18px);
    font-weight: 300;

    b {
        font-weight: bold;
    }
}

.dropdown {
    padding: 4px;
    background-color: $bg-box;
    border: 1px solid $border;
    border-radius: $radius-nm;
    box-shadow: $box-light-shadow;
}

.box--light {
    background-color: $bg-box;
    box-shadow: $box-light-shadow;
    border-radius: $radius-lg;
}

.d-none {
    display: none;
}

.link {
    position: relative;
    display: inline-block;
    text-decoration: none;

    &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -2px;
        height: 2px;
        width: 100%;
        background: currentColor;
        border-radius: 2px;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform var(--transition), transform-origin 0s;
    }

    &.link:hover::before,
    .link:focus::before {
        transform: scaleX(1);
        transform-origin: left;
    }

    &.link:not(:hover)::before {
        transform: scaleX(0);
        transform-origin: right;
    }
}

.img-zoom {
    position: absolute;
    top: 0;
    visibility: hidden;
    opacity: 0;
    width: 100%;
    height: 100%;
    background-color: hsla(0, 0%, 0%, 0.3);
    border-radius: var(--radius-sm);
    -webkit-transition: all var(--transition);
    transition: all var(--transition);

    &__icon {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 100%;

        svg {
            -webkit-box-shadow: 0 0 0 0px hsla(0, 0%, 100%, 0.13);
            box-shadow: 0 0 0 0px hsla(0, 0%, 100%, 0.13);
            -webkit-transform: scale(0.7);
            transform: scale(0.7);
            border-radius: $radius-full;
            -webkit-transition: -webkit-box-shadow 0.5s ease-out,
                -webkit-transform 0.2s ease-out;
            transition: -webkit-box-shadow 0.5s ease-out,
                -webkit-transform 0.2s ease-out;
            transition: box-shadow 0.5s ease-out, transform 0.2s ease-out;
            transition: box-shadow 0.5s ease-out, transform 0.2s ease-out,
                -webkit-box-shadow 0.5s ease-out,
                -webkit-transform 0.2s ease-out;
        }
    }
}
